
@{
    ViewData["Title"] = "StartPage";
}

<div class="container-fluid">
    <div id="startpage" class="text-center mainbackground">
        <div id="bestpizza">
            <h1>Bästa Pizzan i stan!</h1>
            <a asp-controller="Home" asp-action="Meny"><button class="btn btn-primary"><h1>Meny</h1></button></a>
        </div>
    </div>
</div>

